<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Table Number</b></td>
            <td><b>Contact Name</b></td>
            <td><b>Contact Number</b></td>
            <td><b>No of Diners</b></td>
            <td><b>Booking Time</b></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="booking in vm.bookings | orderBy: 'BookingTime'" 
            ng-class="{'text-danger' : booking.NumberOfPeople > 6}"
            ng-click="vm.bookingClick(booking.BookingId)">
            <td>{{booking.TableNumber}}</td>
            <td>{{booking.ContactName}}</td>
            <td>{{booking.ContactNumber}}</td>
            <td>{{booking.NumberOfPeople}}</td>
            <td>{{booking.BookingTime | date: 'dd/MM/yyyy HH:mm'}}</td>
        </tr>
    </tbody>
</table>