<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" ng-click="vm.createBooking()">New Booking</button>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td><b>Contact Name</b></td>
                            <td><b>Contact Number</b></td>
                            <td><b>No of Diners</b></td>
                            <td><b>Table Number</b></td>
                            <td><b>Booking Time</b></td>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr ng-repeat="booking in vm.bookings | orderBy: 'bookingTime'"
                            ng-class="{'text-danger' : booking.numberOfPeople > 6, 'text-primary': booking.numberOfPeople == 1}"
                            ng-click="vm.editBooking(booking.bookingId)">
                            <td>{{booking.contactName}}</td>
                            <td>{{booking.contactNumber}}</td>
                            <td>{{booking.numberOfPeople}}</td>
                            <td>{{booking.tableNumber}}</td>
                            <td>{{booking.bookingTime | date: 'dd/MM/yyyy HH:mm'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>
